{% extends 'templates/layout-admin.twig' %}

{% block title %}{% endblock %}

{% block content %}
  
  <div class="row">
    {% if auth.user.is_admin %}
    <div class="col-md-3 col-sm-12">
      <p>Адмін розділ</p>
      <ul>
        <li><a href="{{ path_for('admin.carousel') }}">Карусель</a></li>
        <li><a href="{{ path_for('admin.teachers') }}">Викладачи</a></li>
        <li><a href="{{ path_for('admin.awards') }}">Відзнаки</a></li>
        <li><a href="{{ path_for('admin.documents') }}">Нормативні документи</a></li>
        <li><a href="{{ path_for('admin.audio') }}">Мінусові фонограми</a></li>
      </ul>  
      <ul>
        <li><a href="{{ path_for('admin.accounts') }}">Реквізити для оплати</a></li>
      </ul>
    </div> 
    {% endif %} 
    <div class="col-md-3 col-sm-12">
      <p>Загальний розділ</p>
      <ul>
        <li><a href="{{ path_for('admin.posts') }}">Події</a></li>
        <li><a href="{{ path_for('admin.fund') }}">Золотий фонд</a></li>
        <li><a href="{{ path_for('admin.students') }}">Випускники</a></li>
      </ul>  
    </div>  
    <div class="col-md-3 col-sm-12">
      <p>Дістанційне навчання</p>
      <ul>
        <li><a href="{{ path_for('admin.remote', {'id': 1}) }}">Музичний відділ</a></li>
        <li><a href="{{ path_for('admin.remote', {'id': 2}) }}">Художній відділ</a></li>
        <li><a href="{{ path_for('admin.subjects') }}">Предмети</a></li>
      </ul>
    </div>  
  </div>

{% endblock %}