{% extends 'templates/layout-admin.twig' %}

{% block title %}Дістанційне навчання: {{ section.title }}{% endblock %}

{% block content %}
  <p class="lead text-danger">Данные не вносить (идет разработка)</p>
  <div class="my-3">
    <a href="{{ path_for('admin.remote.create', {'id': section.id}) }}" class="btn btn-dark btn-sm"><i class="fas fa-plus"></i> Створити завдання</a>
  </div>

  {% if tasks|length %}
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Дата</th>
      <th>Відділ</th>
      <th>Предмет</th>
      <th>Викладач</th>
      <th>Клас</th>
      <th>Назва (тема)</th>
      <th>Актуальність</th>
      <th></th>
    </tr>  
    {% for task in tasks %}
     <tr>
      <td>{{ task.id }}</td>
      <td>{{ task.created_at|date('d.m.Y') }}</td>
      <td>{{ task.section_title }}</td>
      <td>{{ task.subject_title }}</td>
      <td>{{ task.teacher_name }}</td>
      <td>{{ task.grades }}</td>
      <td>{{ task.title }}</td>
      <td><i class="fas {{ task.is_actual ? 'fa-check' : 'fa-times' }} "></i></td>
      <td><a href="{{ path_for('admin.remote.details', {'id': section.id, 'taskId': task.id}) }}"><i class="fas fa-search text-dark"></i></a></td>
    </tr>  
    {% endfor %}
  </table>
{#
  <nav class="my-5">
    <ul class="pagination justify-content-center">
      {% for page in 1..posts.lastPage %}
      <li class="page-item{{ page == posts.currentPage ? ' active' : '' }}">
        <a class="page-link btn btn-sm" href="{{ path_for('admin.posts', {}, {'page': page}) }}">{{ page }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  #}
  {% endif %}
{% endblock %}