{% extends 'templates/layout.twig' %}

{% block description %}У серпні 1967 року була відкрита Дніпрорудненска дитяча музична школа. У 2006 році школа була перейменована у Комунальний спеціалізований мистецький навчальний заклад 'Дніпрорудненська дитяча музична школа' Василівської районної ради Запорізької області{% endblock %}

{% block title %}Початкова сторінка{% endblock %}

{% block content %}
  {% if carousel|length %}
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% set counter = 0 %}
      {% for item in carousel %}
        <li data-target="#carousel" data-slide-to="{{ counter }}" class="{{ counter == 0 ? ' active' : '' }}"></li>
        {% set counter = counter + 1 %}
      {% endfor %}  
    </ol>
    <div class="carousel-inner">
      {% set counter = 0 %}
      {% for item in carousel %}
        <div class="carousel-item{{ counter == 0 ? ' active' : '' }}">
          <img class="d-block w-100" src="{{ base_url() }}/images/carousel/{{ item.image }}" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ item.title }}</h5>
            <p>{{ item.content }}</p>
          </div>
        </div>
        {% set counter = counter + 1 %}
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Попередня</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Наступна</span>
  </a>
  </div>  
  {% endif %}
  <h4 class="mt-5 text-center text-firebrick">
    {{ about.title|raw }} 
  </h4>
  {{ about.content|raw }}
  <h4 class="my-3 text-center text-firebrick">
    {{ contacts.title }} 
  </h4>
  {{ contacts.content|raw }}

{% endblock %}