{% extends 'templates/layout.twig' %}

{% block title %}Конкурси{% endblock %}

{% block content %}
  <h1>Конкурси: {{ section }}</h1>
  {% if posts|length %}
    <div class="row mt-5">
    {% for post in posts %}
      <div class="col-md-4 col-sm-12">
        <div class="card card_no-border">
          {% if post.image|length %}
            <a href="{{ path_for('contest', {'id': post.id}) }}">
              <img src="{{ base_url() }}/images/galleries/{{ post.folder }}/{{ post.image }}" class="card-img-top" alt="{{ post.title }}">
            </a>
          {% endif %}  
          <div class="card-body">
            <h6 class="card-title text-center">
              <a href="{{ path_for('contest', {'id': post.id}) }}" class="text-firebrick">
                {{ post.created_at|date("d.m.Y") }}:
                {{ post.title }}</a>
              <br><small>{{ post.intro }}</small>
            </h6>
          </div>
        </div>
      </div>
    {% endfor %}
    </div> 
    <nav class="my-5">
      <ul class="pagination justify-content-center">
        {% if posts.lastPage > 1 %}
          {% for page in 1..posts.lastPage %}
            <li class="page-item{{ page == posts.currentPage ? ' active' : '' }}">
              <a class="page-link btn btn-sm" href="{{ path_for('contests', {'id': slug}, {'page': page}) }}">{{ page }}</a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </nav> 
  {% endif %}
  
{% endblock %}
