{% extends 'templates/layout.twig' %}

{% block description %}{{ post.intro }}{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  {% if post|length %}
    <h5 class="text-firebrick">{{ post.created_at|date("d.m.Y") }}</h5>
    <h1>{{ post.title }}</h1>
    <div class="row my-3">
      <div class="col">
        <p class="lead">{{ post.intro }}</p>
        {% if post.image|length %}
          <img src="{{ base_url() }}/images/galleries/{{ post.folder }}/{{ post.image }}" class="img-fluid my-3" alt="{{ post.title }}">
        {% endif %}
        {{ post.content|raw }}
      </div>  
    </div>    
    {% if images|length %}
      <div class="row">
        {% for image in images %}
          <div class="col-md-2 col-sm-12">
            <div class="card card_no-border">
              <a href="{{ base_url() }}/images/galleries/{{ post.folder }}/{{ image }}"  class="smart-photo">
              <img src="{{ base_url() }}/images/galleries/{{ post.folder }}/{{ image }}" class="card-img-top mb-3"/>
              </a>  
            </div>
          </div>    
        {% endfor %}
      </div>
    {% endif %}  
  {% endif %}
{% endblock %}