<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a class="nav-link" href="{{ path_for('home') }}" title="Головна"><i class="fas fa-home"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path_for('teachers') }}" title="Пeдколектив">Пeдколектив</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="Події">Події</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="Відзнаки">Відзнаки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="Батькам">Батькам</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="Нормативні документи">Нормативні документи</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Відділення</a>
        <div class="dropdown-menu">
          <div class="dropdown-item bg-light"><small>Музичний відділ</small></div>
          <a class="dropdown-item" href="#">Фортепіанний відділ</a>
          <a class="dropdown-item" href="#">Народний відділ</a>
          <a class="dropdown-item" href="#">Музично-теоретичний відділ</a>
          <div class="dropdown-item bg-light"><small>Художній відділ</small></div>
          <a class="dropdown-item" href="#">Музично-теоретичний відділ</a>
          <a class="dropdown-item" href="#">Учбовий процес</a>
          <a class="dropdown-item" href="#">Конкурси</a>
          <a class="dropdown-item" href="#">Наші випускники</a>
          <div class="dropdown-item bg-light"><small>Галерея</small></div>
          <a class="dropdown-item" href="#">Золотий фонд</a>
          <a class="dropdown-item" href="#">Архів</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" title="Контакти">Контакти</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      {% if auth.isAuth %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path_for('admin.dashboard') }}">Панель</a>
        </li>
        {% if auth.user.is_admin %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Aдмін</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ path_for('admin.users') }}">Користувачи</a>
              <a class="dropdown-item" href="{{ path_for('admin.user.details', {'id': auth.user.id}) }}">Поточний</a>
              <a class="dropdown-item" href="{{ path_for('admin.user.create') }}">Реєстрація</a>
            </div>
          </li>
        {% endif %}  
        <li class="nav-item">
          <a class="nav-link" href="{{ path_for('admin.user.logout') }}"><i class="fas fa-sign-out-alt"></i></a>
        </li>
    {% else %} 
      <li class="nav-item">
        <a class="nav-link" href="{{ path_for('admin.user.login') }}"><i class="fas fa-key"></i></i></a>
      </li>
    {% endif %}  
    </ul>
    </div>
  </div>
</nav>