<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item{{ activePage == 'home' ? ' active' : '' }}">
       <a class="nav-link" href="{{ path_for('home') }}" title="Головна"><i class="fas fa-home"></i></a>
      </li>
      <li class="nav-item{{ activePage == 'teachers' ? ' active' : '' }}">
        <a class="nav-link" href="{{ path_for('teachers') }}" title="Пeдколектив">Пeдколектив</a>
      </li>
      <li class="nav-item{{ activePage == 'posts' ? ' active' : '' }}">
        <a class="nav-link" href="{{ path_for('posts') }}" title="Події">Події</a>
      </li>
      <li class="nav-item{{ activePage == 'remote' ? ' active' : '' }} dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Дистанційне навчання</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ path_for('remote.index', {'id': 1}) }}">Музичний відділ</a>
          <a class="dropdown-item" href="{{ path_for('remote.index', {'id': 2}) }}">Художній відділ</a>
        </div>
      </li>
      <li class="nav-item{{ activePage == 'awards' ? ' active' : '' }}">
        <a class="nav-link" href="{{ path_for('awards') }}" title="Відзнаки">Відзнаки</a>
      </li>
      <li class="nav-item{{ activePage == 'parents' ? ' active' : '' }}">
        <a class="nav-link" href="{{ path_for('parents') }}" title="Батькам">Батькам</a>
      </li>
      <li class="nav-item{{ activePage == 'documents' ? ' active' : '' }}">
        <a class="nav-link" href="{{ path_for('documents') }}" title="Нормативні документи">Нормативні документи</a>
      </li>
      <li class="nav-item{{ activePage == 'contacts' ? ' active' : '' }}">
        <a class="nav-link" href="{{ path_for('contacts') }}" title="Контакти">Контакти</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      {% if auth.isAuth %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path_for('admin.dashboard') }}"><i class="fas fa-cog"></i></a>
        </li>
      {% else %} 
        <li class="nav-item">
          <a class="nav-link" href="{{ path_for('admin.user.login') }}"><i class="fas fa-key"></i></i></a>
        </li>
      {% endif %}  
    </ul>
    </div>
  </div>
</nav>