{% extends 'templates/layout.twig' %}

{% block title %}
 Teachers
{% endblock %}

{% block content %}
  {% if teachers|length %}
    {% set counter = 1 %}
    <div class="row">
    {% for teacher in teachers %}
      <div class="col-md-4">
        <div class="card card-fixed">
          {% if teacher.image_preview|length %}
            <a href="{{ path_for('teacher', {'id': teacher.id}) }}">
              <img src="{{ base_url() }}/images/teachers/{{ teacher.image_preview }}" class="card-img-top" alt="{{ teacher.full_name }}">
            </a>
          {% endif %}  
          <div class="card-body">
            <h6 class="card-title text-center">
              {{ teacher.full_name }}<br><small>{{ teacher.content }}</small>
            </h6>
          </div>
         </div>  
      </div> 
      {% if counter is divisible by(3) %}
        </div><br><div class="row">
      {% endif %}
      {% set counter = counter + 1 %} 
    {% endfor %}
    </div>
    <nav class="my-5">
      <ul class="pagination justify-content-center">
        {% for page in 1..teachers.lastPage %}
          <li class="page-item{{ page == teachers.currentPage ? ' active' : '' }}">
            <a class="page-link btn btn-sm" href="{{ path_for('teachers', {}, {'page': page}) }}">{{ page }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

  {% endif %}
{% endblock %}